@model TICRM.DTOs.ActivityDTO


<div class="m-portlet m-portlet--tabs">
    <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs-line m-tabs-line--success m-tabs-line--2x" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_portlet_tab_Activities" role="tab" aria-selected="true">
                        <i class="la la-user-md"></i> Activities
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="tab-content">
            <div class="tab-pane active show" id="m_portlet_tab_Activities" role="tabpanel">

                <div class="row container">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ActivityPartyId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ActivityPartyId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ActivityPointerId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ActivityPointerId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UpdatedBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdatedBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Status.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.Name)
                        </dd>

                    </dl>
                </div>
                <div class="clearfix">
                    <hr />
                </div>

                @using (Html.BeginForm("Delete/" + Model.ActivityId, "Activities", FormMethod.Post, new { id = "DeleteForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <button type="button" id="deletebtn" onclick="Delete_Record()" class="btn btn-success"> Confirm</button>
                        <button type="button" onclick="$('#m_modal_Delete').modal('hide');" class="btn btn-secondary"><i class="la la-refresh"></i> Cancel</button>
                    </div>
                }

            </div>

        </div>
    </div>
</div>




    <script>

        var Delete_Record = function () {
            $('body').addClass('m-page--loading');
            $('#DeleteForm').submit();
        }
     
    </script>


