@model TICRM.DTOs.WorkFlowDTO


<div class="m-portlet m-portlet--tabs">
    <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs-line m-tabs-line--success m-tabs-line--2x" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_portlet_tab_WorkFlows" role="tab" aria-selected="true">
                        <i class="la la-user-md"></i> WorkFlows
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="tab-content">
            <div class="tab-pane active show" id="m_portlet_tab_WorkFlows" role="tabpanel">

                <div class="row container">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TriggerCondition)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TriggerCondition)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TriggerIn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TriggerIn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TriggerOut)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TriggerOut)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TargetOn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TargetOn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.WorkFlowStatus)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.WorkFlowStatus)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AppliedTo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AppliedTo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Priority)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Priority)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Frequency)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Frequency)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Action)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Action)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UpdatedBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdatedBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.Name)
                        </dd>

                    </dl>
                </div>
                <div class="clearfix">
                    <hr />
                </div>
                <div class="box-header clearfix">
                    <a href="@Url.Action("Edit", "WorkFlows", new { id = Model.WorkFlowId })" class="btn btn-sm btn-default btn-flat pull-right"><i class="fa fa-pencil-alt"></i></a>
                </div>

            </div>

        </div>
    </div>
</div>





